.image {
  width: 300px;
  display: block; /* Makes the image block-level, enabling margin auto to work */
  margin-left: auto; /* Auto margin on the left */
  margin-right: auto; /* Auto margin on the right */
}
body {
  background-image: url('patrick-tomasso-Oaqk7qqNh_c-unsplash.jpg'); /* Adjust the path as needed */
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: black !important;
}
h1 {
  font-family: 'Courier Prime', monospace;
  text-align: center;
}      
h1, h2, h3, h4, h5, h6 {
  color: black !important;
}
.content {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}  
#dropdown {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 1000;
}
#dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#dropdown ul li {
  padding: 8px 12px;
  cursor: pointer;
}
#dropdown ul li:hover {
  background-color: #eee;
}


.scroll-down-arrow {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333; /* Or any color you prefer */
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  z-index: 1000; /* Ensure it's above other content */
}