{% extends "index.html" %}

{% block title %}
    Process File
{% endblock %}

{% block content %}

    {% if cover_url %}
        <img src="{{ cover_url }}" alt="EPUB Cover" class="image" />
    {% else %}
        <h1 style="color:black">{{ title }}</h1>
        <h2 style="color:black">{{ author }}</h2>
    {% endif %}

    <!-- Wait for the DOM content is loaded before attaching scripts -->
    <script>
        document.addEventListener("DOMContentLoaded", attachContextMenu);
    </script>

    <div id="dynamic-content">
        {% if html_user_content %}
            {{ html_user_content|safe }}
        {% endif %}
    </div>

    <div id="summary-modal">
        <!-- Intentionally blank -->
    </div>

    <div id="dropdown">
        <ul>
            <li onclick="submitQuery('summarise')">Summarise</li>
            <li onclick="submitQuery('who_is_that')">Who is that?</li>
            <li onclick="submitQuery('what_is_this')">What is that?</li>
        </ul>
    </div>

    <form id="query-form" method="POST" action="/query">
        <input type="hidden" name="author" id="query-author" value="{{ author }}" />
        <input type="hidden" name="option" id="query-option" />
        <input type="hidden" name="selected_text_context" id="query-selected-text-context" />
        <input type="hidden" name="selected_text" id="query-selected-text" />
        <input type="hidden" name="title" id="query-title" value="{{ title }}" />
    </form>


    <button id="scroll-down-arrow" class="scroll-down-arrow">
        <i class="fas fa-arrow-down"></i>
    </button>
{% endblock %}
